<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ROVEZ</title>
</head>
<style>

</style>

<body>
  <nav id="navbar">
    <ul>
      <li class="item"><a href="/">rovez</a></li>
      <li class="item"><a href="/views/rpool.html">rpool</a></li>
      <li class="item"><a href="/views/car-hire.html">car-hire</a></li>
      <li class="item"><a href="/views/driver-hire.html">driver-hire</a></li>
      <div id="right"></div>
      <li class="item"><a href="/views/login.html">login</a></li>
  </ul>
  </nav>

</body>
<footer id="footer">Copyright © 2020 rovez.in | All rights reserved</footer>

</html>